@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #FFFDEC;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --breakpoint-xsm: 500px;
  --breakpoint-sm: 600px;
  --breakpoint-md: 690px;
  --breakpoint-lg: 988px;
  --breakpoint-xl: 1078px;
  --breakpoint-xxl: 1265px;
  --color-textGray: #71767b;
  --color-textGrayLight: #e7e9ea;
  --color-borderGray: #2f3336;
  --color-inputGray: #202327;
  --color-iconBlue: #1d9bf0;
  --color-iconGreen: #00ba7c;
  --color-iconPink: #f91880;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #FFFDEC;
  }
}

body {
  background: var(--foreground);
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
